
stages:
  - base
  - buildtool
  - unit_test
  - build
  - sqa
  - push
  - tag_image
  - update_tag_deployment

variables:
  UPSTREAM_TAG: $CI_COMMIT_SHA

base:
  stage: base
  image: docker:20.10.16
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/base:$CI_COMMIT_SHA -f Dockerfile.base .
    - docker tag $CI_REGISTRY_IMAGE/base:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/base:latest
    - docker push $CI_REGISTRY_IMAGE/base:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/base:latest
  rules:
    - changes:
      - .gitlab-ci.yml
      - Dockerfile.base
      - Gemfile
      - Gemfile.lock
      - .ruby-version

buildtool:
  stage: buildtool
  image: docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/buildtool:$CI_COMMIT_SHA --build-arg BASE_IMAGE=$CI_REGISTRY_IMAGE/base:latest -f Dockerfile.buildtool .
    - docker tag $CI_REGISTRY_IMAGE/buildtool:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/buildtool:latest
    - docker push $CI_REGISTRY_IMAGE/buildtool:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/buildtool:latest
  rules:
    - changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - Dockerfile.base
      - Dockerfile.buildtool

unit_test:
  stage: unit_test
  image: docker:20.10.16
  script:
    - echo "Running unit tests"

build_and_push:
  stage: build
  image: cacher.odds.team/image/trivy-dind:1.0.0
  variables:
    TRIVY_EXIT_CODE: "0" 
    TRIVY_SEVERITY: "HIGH,CRITICAL"
    TRIVY_SERVER: "https://trivy.odd.works"
    TRIVY_TOKEN: $TRIVY_TOKEN
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA --build-arg REG_URL=$CI_REGISTRY_IMAGE -f Dockerfile.multi .
    - trivy --cache-dir /tmp/trivy/ image --skip-java-db-update --server $TRIVY_SERVER --token $TRIVY_TOKEN $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA --exit-code $TRIVY_EXIT_CODE --severity $TRIVY_SEVERITY
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
        docker push $CI_REGISTRY_IMAGE:latest
      fi
  only:
    - main

sonarqube-check:
  stage: sqa
  tags:
    - x86
  image: 
    name: cacher.odds.team/docker-hub-cache/sonarsource/sonar-scanner-cli:11
    entrypoint: [""]
  script: 
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}"
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'


dependencies_check:
  stage: sqa
  image: docker:20.10.16
  script:
    - echo "Running dependencies check"

# push:
#   stage: push
#   image: docker:20.10.16
#   script:
#     - echo "Pushing image"

tag_image:
  stage: tag_image
  image: docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      if [[ $CI_COMMIT_TAG =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
        echo "Tagging image for version $CI_COMMIT_TAG"
        # Tag with specific version
        docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA 
        docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA  $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
        docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG

        # Tag major version (X)
        major=$(echo $CI_COMMIT_TAG | cut -d. -f1)
        docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA  $CI_REGISTRY_IMAGE:$major
        docker push $CI_REGISTRY_IMAGE:$major

        # Tag major.minor version (X.Y)
        minor=$(echo $CI_COMMIT_TAG | cut -d. -f1,2)
        docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA  $CI_REGISTRY_IMAGE:$minor
        docker push $CI_REGISTRY_IMAGE:$minor

        # Tag as latest
        docker push $CI_REGISTRY_IMAGE:latest
      else
        echo "Not a valid semantic version tag"
        exit 1
      fi
  rules:
    - if: $CI_COMMIT_TAG =~ /^[0-9]+\.[0-9]+\.[0-9]+$/

update_tag_deployment:
  stage: update_tag_deployment
  variables:
    UPSTREAM_TAG: $CI_COMMIT_SHA
  trigger:
    project: ODDS/todo/kan-todo-app-rails-deployment
    branch: develop