<h1>Todos</h1>

<ul>
  <% @todos.each do |todo| %>
    <li><%= check_box_tag "completed", true, todo.is_completed, data: { controller: "checkbox", action: "change->checkbox#update" } %> <%= todo.title %></li>
  <% end %>
</ul>
